ul {
  margin: 0;
  padding: 0px;
}

li,
h3 {
  list-style: none;
}

input,
button {
  outline: none;
}

.page-body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.main-btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.main-btn:hover {
  color: #3a3a3a;
}

.main-btn.delete:hover {
  color: #cf2323;
}

.more-details {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.more-details__img {
  width: 100%;
}

.more-details .more-details__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .more-details { 
    text-align: center;
  }
}

.container {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.add-task {
  margin-top: 13px;
}

.title-h3,
.add-task__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.add-task__label {
  display: block;
  margin: 0 0 20px;
}

.new-task {
  display: flex;
}

.new-tack__input {
  width: 318px;
}

.new-task__main-btn:hover {
  color: #0fc57c;
}

.todo {
  margin-top: 14px;
}

.completed-tasks .completed-task-label {
  text-decoration: line-through;
  color: #888;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.input-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.input-text:focus {
  color: #333;
}

.list-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item > * {
  vertical-align: middle;
}

.list-item__label  {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.list-item__input-text {
  width: 226px;
}

.list-item__input-text {
  display: none;
}

.input-checkbox {
  margin: 0 10px;
}

.remove-icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.remove-icon:hover {
  transform: rotateZ(0);
}

.edit-mode .input-text {
  display: inline-block;
  width: 224px;
}

.edit-mode .list-item__label {
  display: none;
}
